<br>
<br>

<div *ngIf='errFlag' class="text-danger col text-center"><br><br>{{errMessage}}<br><br></div>
                    
 <div *ngIf='!errFlag' class="col-md-10 offset-1 table-responsive" >
    <form class="form-group form-inline"  [formGroup]="dateFilterForm" (ngSubmit)="chooseCustomDate()">
        <label for="dateStart" style="padding-right: 10px;padding-left: 10px;">Start Date</label>
        <input name="dateStart" class="form-control"
            formControlName="dateStart" type="date" placeholder="Start Date"/>
        <p class="help-block text-danger"
            *ngIf="!dateFilterForm.get('dateStart').valid && 
            dateFilterForm.get('dateStart').touched">
            Please enter Start Date</p>
        <label for="dateEnd" style="padding-right: 10px;padding-left: 10px;">End Date</label>
        <input name="dateEnd" class="form-control"
            formControlName="dateEnd" type="date" placeholder="End Date"/>
        <p class="help-block text-danger"
            *ngIf="!dateFilterForm.get('dateEnd').valid && 
            dateFilterForm.get('dateEnd').touched">
            Please enter Start Date</p>
        &nbsp;
        <button class="btn btn-primary" type="submit">Apply</button>
    </form>
    <div class="text-danger col text-center">{{errMessage}}</div>
     <table class="table table-dark table-hover table-sm">
        <tbody>
             <tr *ngFor="let history of filterExpHistory ;let i = index">
                <th scope="row">{{(pager.currentPage-1)*pager.pageSize+i+1}}</th>
                <td>{{history.modifyBy}} {{ history.modifyType === 'U'?"  updated  ":(history.modifyType === 'D')? '  deleted  ':'  added  '}}{{"expense  "}}{{history.purpose}}{{"  paid  by  "}}{{history.paidBy}}</td>
                <td><button *ngIf="!(history.modifyType === 'A')" class="btn btn-info" (click)='expenseHistory = history; flag=true'><span style="font-size:24px" class="fa fa-history"></span> </button></td>
             </tr>
        </tbody>
    </table>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination text-primary ">{{"|"}}&nbsp;
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>&nbsp;{{"|"}}&nbsp;
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>&nbsp;{{"|"}}&nbsp;
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>&nbsp;{{"|"}}
    </ul>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf='flag' [ngStyle]="{'display':'block'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Previous Expense</h4>
        <button type="button" class="close" aria-label="Close" (click)="flag=false"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
    <div class="container border border-info expenseHistoryContainer">
        <div class="row">
            <div class="col-sm-4" style="font-weight: bold;">PaidBy </div>
            <div class="col-sm-7 offset-1" style="font-weight: bold;">{{expenseHistory.paidBy}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="font-weight: bold;">Purpose</div>
            <div class="col-sm-7 offset-1" style="font-weight: bold;">{{expenseHistory.purpose}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="font-weight: bold;">Amount</div>
            <div class="col-sm-7 offset-1" style="font-weight: bold;">{{expenseHistory.amount}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="font-weight: bold;">Date</div>
            <div class="col-sm-7 offset-1" style="font-weight: bold;">{{expenseHistory.dateOfPurchase}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="font-weight: bold;">Description</div>
            <div class="col-sm-7 offset-1" style="font-weight: bold;">{{expenseHistory.description}}</div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="font-weight: bold;">For Whom</div>
        </div>
        <div class="row">
            <div class="col-lg foruserbox" *ngFor='let member of expenseHistory.forWhom'>
                <div class="card boxuser foruser">
                    <div class="card-img-top" style="height:40px">
                        <app-profile-logo [userName]="member"></app-profile-logo>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    </div>
    </div>
    </div>
    </div>
