.groupDashboardContainer{
    width: 100%;
}

.graphsContainer{
    width: auto;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    flex-direction: row;
    /* transform: translateX(5%); */
}

.graphs{
    width: 33%;
    min-width: 270px;
}