<!-- <br>
<div class="container mt-350">
  <div class="row">
      <div class="col-md-3">
          <span style="font-size:20px">Home Sweet Home</span>
          <hr>
          <img src="../assets/home.jpg" style="margin-top:70px;padding:0px;transform:rotate(90deg);max-width: 100%;max-height: 100%;object-fit: cover;"
              alt="image not available">
          <br>
          <br>
          <br>
          <span><i>95A Phase 2, Modi Emarald Park, Annojiguda</i></span>
      </div>



          <div class="col-md-5">
              <span class="signintext"> <b> Sign In </b></span><br>
              <br>
              <hr>
              <br>
              <div class="form-group">
              <form action="post" #inputForm="ngForm" (submit)="validateCredentials(inputForm.value)">
                  <label for="username">Username:</label>
                  <input class="form-control" name="username" type="text" [(ngModel)]="username"> <br><br>
                  <label for="password">Password:</label>
                  <input class="form-control" name="password" type="password" [(ngModel)]="password"><br><br>
                  <button class="btn btn-primary" type="submit">Sign In</button>

              </form>
              </div>
          </div>


           <div class=" col-md-4">
              <h3>Residents</h3>
              <hr>
              <ul style="padding:0px;list-style-type: none">
                <div class="pt-20"></div>
                  <li class="row"><img class="img-sm" src="../assets/parth.jpg"  style="float:left;border-radius:10%" class="col-sm-2 col-md-4 img-sm">
                      <div class="col-5 p-sm-0 col-md-8 txt-left text-md-center" > &nbsp;<b>Parth Natu </b><br>Chhatarpur,
                          Madhya
                          Pradesh</div>
                  <div class="pt-20"></div>

                  </li>
                  <hr>
                  <li class="row"><img  src="../assets/shubham.jpg"  style="float:left;border-radius:10%"  class="col-sm-2 col-md-4 img-sm">
                      <div class="col-5 col-md-8 p-sm-0 text-md-center txt-left" style="margin-top:0px;float: left;padding-left:10px"> &nbsp;<b>Shubham Shukla</b><br>
                          Sidhi, Madhya
                          Pradesh</div>
                  <div class="pt-20"></div>
                  </li>
                  <hr>
                  <li class="row"><img  src="../assets/tayal.jpg"  style="float:left;border-radius:10%" class="col-sm-2 col-md-4 img-sm">
                      <div class="col-5 col-md-8 p-sm-0 text-md-center txt-left" style="margin-top:0px;float: left;padding-left: 10px"> &nbsp;<b>Shubham Tayal</b><br>
                          Ojhar,Madhya
                          Pradesh
                      </div>
                  <div class="pt-20"></div>
                  </li>
                  <hr>
                  <li class="row"><img  src="../assets/rahul.jpg"  style="float:left;border-radius:10%" class="col-sm-2 col-md-4 img-sm">
                      <div class="col-5 col-md-8 p-sm-0 text-md-center txt-left" style="margin-top:0px;float: left;padding-left: 10px"> &nbsp;<b>Rahul Prasad</b><br>
                          Rourkela, Orissa</div>
                  <div class="pt-20"></div>
                  </li>
                  <hr>
                  <li class="row"><img  src="../assets/sayantan.jpg" style="float:left;border-radius:10%" class="col-sm-2 col-md-4 img-sm">
                      <div class="col-5 col-md-8 p-sm-0 text-md-center txt-left" style="margin-top:0px;float: left;padding-left: 10px">&nbsp;<b>Sayantan Ghosh</b><br>Kolkata,
                          West
                          Bengal</div>
                          <div class="pt-20"></div>
                  </li>

                  <div class="w-100"></div>



              </ul>

          </div>

       </div>
</div> -->

<!-- table-light text-center -->
<div class="startPage">
    <div class="test1"></div>
    <div class="test2">
      <img src="../../assets/personalization.svg">
    </div>
    <div class="container welcomedetailsContainer card box" *ngIf='!loginPageToggle && !registerPageToggle'>
      <div class="row">
        <div class="col-md text-center">
            <p class="welcomefont" style="font-size:80px"> Welcome! </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md text-center">
              <h6> Good to see you again </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md text-center">
          <button class="btn btn-success getStartedbutton" (click)="loginPageToggle=!loginPageToggle"> Login </button><br>
          <button class="btn btn-success getStartedbutton" (click)="registerPageToggle=!registerPageToggle">Register </button>
        </div>
      </div>
    </div>

    <div *ngIf='loginPageToggle' class="container loginContainer card box">
      <div class="row">
        <div class="col-md text-center">
              <br>
              <span> <p class="signintext"> Welcome Back! </p></span>
              <hr>
              <div class="form-group">
              <form action="post" #inputForm="ngForm" (submit)="validateCredentials(inputForm.value)">
                  <label for="username">Username:</label>
                  <input class="form-control" name="username" type="text" [(ngModel)]="username"> <br>
                  <label for="password">Password:</label>
                  <input class="form-control" name="password" type="password" [(ngModel)]="password"><br>
                  <button class="btn btn-success" type="submit">Login</button> <br><br>
              </form>
            </div>
        </div>
      </div>
    </div>

    <div *ngIf='registerPageToggle' class="container loginContainer card box">
      <div class="row">
        <div class="col-md text-center">
              <br>
              <span> <p class="signintext"> Create your Account </p></span>
              <hr>
              <div class="form-group">
                <form class="form-group" [formGroup]="registerUserForm" (ngSubmit)="addUser(registerUserForm)">
                  <label for="name">Name</label>
                  <input name="name" class="form-control" formControlName="name" type="text" />
                  <p class="help-block text-danger" *ngIf="
                      !registerUserForm.get('name').valid &&
                      registerUserForm.get('name').touched
                    ">
                    Please enter your name
                  </p>
                  <label for="quantity">Email</label>
                  <input name="email" class="form-control" formControlName="email" type="email" />
                  <p class="help-block text-danger" *ngIf="
                      !registerUserForm.get('email').valid &&
                      registerUserForm.get('email').touched
                    ">
                    Please enter a valid Email id
                  </p>

                  <label for="price">Password</label>
                  <input name="password" class="form-control" formControlName="password" type="password" />
                  <p class="help-block text-danger" *ngIf="
                      !registerUserForm.get('password').valid &&
                      registerUserForm.get('password').touched
                    ">
                    Please enter login Password
                  </p>
                  <label for="groupId">Group ID</label>
                  <input name="groupId" class="form-control" formControlName="groupId" type="number" placeholder="Leave it balnk for new group"/>
                  <p class="help-block text-danger" *ngIf="
                      !registerUserForm.get('groupId').valid &&
                      registerUserForm.get('groupId').touched
                    ">
                    Please enter valid Group ID
                  </p>
                  <!-- <p class="help-block text-danger" *ngIf="
                      registerUserForm.get('groupId').touched
                    ">
                    If you dont know the group id, leave it blank. You can update it later
                  </p> -->
                  <br>
                  <button type="submit" class="btn btn-success" [disabled]="!registerUserForm.valid">Register</button>
                </form>
            </div>
        </div>
      </div>
    </div>

    <div class="container moreOptionContainer card box" *ngIf='loginPageToggle || registerPageToggle'>
      <div class="row">
        <div class="col-md text-center">
          <button *ngIf='registerPageToggle' class="btn btn-success getStartedbutton" (click)="loginPageToggle=!loginPageToggle; registerPageToggle=false"> Login </button><br>
          <button *ngIf='loginPageToggle' class="btn btn-success getStartedbutton" (click)="registerPageToggle=!registerPageToggle; loginPageToggle=false">Register </button>
        </div>
      </div>
    </div>
  </div>

  <div class="backdrop" [ngStyle]="{ display: addDisplayNewGroupId }"></div>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: addDisplayNewGroupId }">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          No group found!!
          <br>
          Do you want to create your own group?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onCloseHandled()" data-dismiss="modal">Try Again</button>
          <button type="button" class="btn btn-success" (click)="addUserWithNewGroup()">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="backdrop" [ngStyle]="{ display: addDisplayBlankGroupId }"></div>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: addDisplayBlankGroupId }">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled1()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Group Id is blank
          <br>
          Do you want to create your own group?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addUserNoGroupId()" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-success" (click)="addUserWithNewGroup()">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="backdrop" [ngStyle]="{ display: loadingFlag }"></div>
  <div class="Welcomecontainer" [ngStyle]="{ display: loadingFlag }">
    <p>Hold On {{registerUserForm.value.name}}. We are processing your request</p>
    <div class="Loading"
        [ngStyle]="{'animation-name':'Loadinganimation',
                'animation-duration':'3s',
                'animation-iteration-count': 'infinite',
                'animation-direction':'alternate',
                'animation-delay':i/5+'s'}"
                *ngFor='let i of [0,1,2,3,4]'>
    </div>
  </div>
