
<div class="Expensecontainer">
    <div class="Welcomecontainer" *ngIf='welcomeFlag'>
        <p>Please Wait</p>
        <div class="Loading"
            [ngStyle]="{'animation-name':'Loadinganimation',
                    'animation-duration':'3s',
                    'animation-iteration-count': 'infinite',
                    'animation-direction':'alternate',
                    'animation-delay':i/5+'s'}"
                    *ngFor='let i of [0,1,2,3,4]'>
        </div>
    </div>

    <section *ngIf='!welcomeFlag && !memberFlag'>
        <div class="container" >
            <div class="row">
                <div class="col-lg mt-4 outerbox"
                    *ngFor='let member of membersList'>
                    <div class="card box">
                        <!-- <img src={{member.pic}} class="card-img-top" style="height:200px" alt="..."> -->
                        <div class="card-img-top" style="height:200px">
                            <app-profile-logo [userName]="member.name"></app-profile-logo>
                        </div>
                        <h1>{{member.name[0]}}</h1>
                        <div class="card-body">
                        <h3 class="card-title">{{member.name}}</h3>
                        <p class="card-text">Responsible citizens are change agents that act out against social, economic, and environmental injustices.</p>
                        <a (click)="MemberFunction(member.index,'name')" class="btn btn-primary">View Expense</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container" *ngIf='memberFlag'>
        <div class="row">
            <div class="col-md">
                <div class="Itemscontainer" >
                    <div class="row">
                        <div class="col">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" (click)="status=!status"   (mouseover)="status=true" (mouseleave)="status=false" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select User
                                </button>
                                <div class="dropdown-menu"
                                    (mouseover)="status=true" (mouseleave)="status=false"
                                    [ngClass]="status ? 'dropdown-menu show' : 'dropdown-menu'"
                                    aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" (click)="MemberFunction(member.index,'name');status=!status"
                                            *ngFor='let member of membersList'>{{member.name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 text-right">
                            <h2>{{currentUserName}}</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                        <button (click)="openModal('','addModal')" class="btn btn-primary">Add Expense</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div *ngIf='errFlag' class="text-danger col text-center"><br><br>{{errMessage}}<br><br></div>
                    
                        <div *ngIf='!errFlag' class="col-md-10 offset-1 table-responsive" >
                            <table class="table table-dark table-hover table-sm">
                                <thead>
                                    <tr>
                                    <th scope="col">#List</th>
                                    <th scope="col">Purpose</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of itemList ;let i = index" (click)='expenseDetails = item;expenseDetailsToggle = true;'>
                                        <th scope="row">{{i}}</th>
                                        <td>{{item.purpose}}</td>
                                        <td>{{item.amount}}</td>
                                        <td>{{item.dateOfPurchase}}</td>
                                        <td><button class="btn btn-info" (click)='openModal(item,"updateModal")'>Update</button></td>
                                        <td><button class="btn btn-danger" (click)='deleteExpense(item)'>Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3 container" *ngIf='expenseGraphToggle'>
                <br>
                <br>
                <div class="graphContainer">
                    <button type="button" class="close" aria-label="Close" (click)="expenseGraphToggle=false"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 style="text-align: center;">{{graphDataColumns[0]}}</h3>
                    <app-doughnut [graphDataList]="itemList" [graphDataColumns]="graphDataColumns"></app-doughnut>
                </div>
                <br>
                <br>
                <div class="container border border-info expenseDetailsContainer" *ngIf='expenseDetailsToggle'>
                    <div class="row">
                        <div class="col-sm-4" style="font-weight: bold;">Purpose</div>
                        <div class="col-sm-7 offset-1" style="font-weight: bold;">{{expenseDetails.purpose}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="font-weight: bold;">Amount</div>
                        <div class="col-sm-7 offset-1" style="font-weight: bold;">{{expenseDetails.amount}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="font-weight: bold;">Date</div>
                        <div class="col-sm-7 offset-1" style="font-weight: bold;">{{expenseDetails.dateOfPurchase}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="font-weight: bold;">Description</div>
                        <div class="col-sm-7 offset-1" style="font-weight: bold;">{{expenseDetails.description}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="font-weight: bold;">For Whom</div>
                    </div>
                    <div class="row">
                        <div class="col-lg foruserbox" *ngFor='let member of expenseDetails.forWhom'>
                            <div class="card boxuser foruser">
                                <div class="card-img-top" style="height:40px">
                                    <app-profile-logo [userName]="member"></app-profile-logo>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <div class="backdrop" *ngIf='addDisplay'></div>
        <div class="modal" tabindex="-1" role="dialog" *ngIf='addDisplay' [ngStyle]="{'display':'block'}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Expense</h4>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled('addModal')"><span
                    aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <form class="form-group"  [formGroup]="addExpenseForm" (ngSubmit)="addExpense(addExpenseForm)">

                    <div class="row">
                        <div class="col-md-4 text-left">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" (click)="statusAddExpense=!statusAddExpense"   (mouseover)="statusAddExpense=true" (mouseleave)="statusAddExpense=false" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Paid By
                                </button>
                                <div class="dropdown-menu"
                                    (mouseover)="statusAddExpense=true" (mouseleave)="statusAddExpense=false"
                                    [ngClass]="statusAddExpense ? 'dropdown-menu show' : 'dropdown-menu'"
                                    aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" (click)="MemberFunction(member.index,'email');statusAddExpense=!statusAddExpense"
                                            *ngFor='let member of membersList'>{{member.name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 text-right">
                            <h2>{{currentUserName}}</h2>
                        </div>
                    </div>
                    <label for="purpose">Purpose</label>
                    <input name="purpose" class="form-control"
                        formControlName="purpose" type="text" placeholder="Purpose of Expense"/>
                    <p class="help-block text-danger"
                        *ngIf="!addExpenseForm.get('purpose').valid && 
                        addExpenseForm.get('purpose').touched">
                        Please enter purpose of expoense</p>

                    <label for="dateOfLastPurchase"> Date</label>
                    <input name="dateOfLastPurchase" class="form-control"
                        formControlName='dateOfPurchase'
                        type="date" placeholder="date of purchase"/>
                    <p class="help-block text-danger"
                        *ngIf="!addExpenseForm.get('dateOfPurchase').valid &&
                        addExpenseForm.get('dateOfPurchase').touched">
                        Please select a date</p>

                    <label for="amount">Amount Spent</label>
                    <input name="amount" class="form-control"
                        formControlName='amount' type="number" placeholder="Amount Spent on Expense"/>
                    <p class="help-block text-danger"
                        *ngIf="!addExpenseForm.get('amount').valid &&
                        addExpenseForm.get('amount').touched">
                        Please select quantity</p>
                        
                    <label for="description">Description</label>
                    <input name="description" class="form-control"
                        formControlName='description' type="text" placeholder="Description on the expense *not required"/>
                    <br>

                    <p style="color: crimson;">Edit User</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg mt-4 foruserbox" *ngFor='let member of membersList'>
                                <div class="card boxuser foruser" [style.background]="checkforUser(member.index,'addExpense') ? 'green' : 'red' ">
                                    <div class="card-img-top" style="height:40px" (click)="changeforUser(member.index,'addExpense')">
                                        <app-profile-logo [userName]="member.name"></app-profile-logo>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer text-center">
                        <button type="submit" class="btn btn-danger" data-dismiss="modal" [disabled]="!addExpenseForm.valid">Add Item</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


    <div class="backdrop" *ngIf='updateDisplay'></div>
    <div class="modal" tabindex="-1" role="dialog" *ngIf='updateDisplay' [ngStyle]="{'display':'block'}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
                <h4 class="modal-title">Update Expense</h4>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled('updateModal')">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 text-left">
                        <h2>Paid By</h2>
                    </div>
                    <div class="col-md-8 text-right">
                        <h2>{{currentUserName}}</h2>
                    </div>
                </div>
                <form [formGroup]="updateExpenseForm" class="form form-group" (ngSubmit)="updateExpense(updateExpenseForm)">
                    <label for="purpose">Purpose</label>
                    <input name="purpose" class="form-control"
                        formControlName="purpose" type="text" placeholder="Purpose of Expense"/>
                    <p class="help-block text-danger"
                        *ngIf="!updateExpenseForm.get('purpose').valid && 
                        updateExpenseForm.get('purpose').touched">
                        Please enter purpose of expoense</p>
                    
                    <label for="dateOfLastPurchase"> Date</label>
                    <input name="dateOfLastPurchase" class="form-control"
                        formControlName='dateOfPurchase'
                        type="date" placeholder="date of purchase"/>
                    <p class="help-block text-danger"
                        *ngIf="!updateExpenseForm.get('dateOfPurchase').valid &&
                        updateExpenseForm.get('dateOfPurchase').touched">
                        Please select a date</p>

                    <label for="amount">Amount Spent</label>
                    <input name="amount" class="form-control"
                        formControlName='amount' type="number" placeholder="Amount Spent on Expense"/>
                    <p class="help-block text-danger"
                        *ngIf="!updateExpenseForm.get('amount').valid &&
                        updateExpenseForm.get('amount').touched">
                        Please select quantity</p>
                        
                    <label for="description">Description</label>
                    <input name="description" class="form-control"
                        formControlName='description' type="text" placeholder="Description on the expense *not required"/>
                    <br>

                    <p style="color: crimson;">Edit User</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg mt-4 foruserbox" *ngFor='let member of membersList'>
                                <div class="card boxuser foruser" [style.background]="checkforUser(member.index,'updateExpense') ? 'green' : 'red' ">
                                    <div class="card-img-top" style="height:40px" (click)="changeforUser(member.index,'updateExpense')">
                                        <app-profile-logo [userName]="member.name"></app-profile-logo>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                
                    <div class="modal-footer text-center">
                        <button type="submit" class="btn btn-danger" [disabled]="!updateExpenseForm.valid">Update
                            Item</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
