<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="grocery">Grocery Management <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="expense">Expense Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shopping">Shopping List</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="calculate">Milk Management</a>
      </li>
    </ul>
      <ul class="navbar-nav">

        <li class="nav-item mr-3 mt-2" >
          <div class="dropdown">
          <button class="btn " (click)="openNotification()" data-toggle="dropdown">
          <i class="fa fa-bell" style="color: white;"></i>
        </button>
        <div class="dropdown-menu p-0  dropdown-menu-center" style="width: 65vh">
          <app-notification [notifications] = 'notifications'></app-notification>

        </div>


        </div>
        </li>

      <li class= "nav-item">
        <!-- <img style='height:40px;width:40px ;border-radius: 20px;' src={{userImg}}> -->
        <a routerLink="profile">
          <div style='height:40px;width:40px ;border-radius: 50%;'>
            <app-profile-logo [userName]="userName"></app-profile-logo>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="profile">Welcome {{user}}</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href=" " (click)='logout()'>Logout</a>

      </li>
      </ul>

    </div>

</nav>


<router-outlet></router-outlet>
