<!-- Loading bar animation -->
<div class="Welcomecontainer" *ngIf='welcomeFlag'>
    <p>Loading</p>
    <div class="Loading"
        [ngStyle]="{'animation-name':'Loadinganimation',
                'animation-duration':'3s',
                'animation-iteration-count': 'infinite',
                'animation-direction':'alternate',
                'animation-delay':i/5+'s'}"
                *ngFor='let i of [0,1,2,3,4]'>
    </div>
</div>

<!-- Milk container with logic
date: 13 Oct 2019
author: Rahul prasad
vercion: 1.0 -->

<div *ngIf="!welcomeFlag">
  Milk Contaier works
</div>