<div class="container-fluid">
    <div class="homeContainer">
        <div class="linkContainer">
            <div class="linkDescription" [routerLink]="['/main/grocery']">
                <div class="linkLogo">
                    <i class="fa fa-leaf fa-4x" aria-hidden="true"></i>
                </div>
                <p>Grocery</p>
            </div>
            <div class="linkDescription" [routerLink]="['/main/expense']">
                <div class="linkLogo">
                    <i class="fa fa-inr fa-4x" aria-hidden="true"></i>
                </div>
                <p>Expense</p>
            </div>
            <div class="linkDescription" [routerLink]="['/main/shopping']">
                <div class="linkLogo">
                    <i class="fa fa-shopping-basket fa-4x" aria-hidden="true"></i>
                </div>
                <p>Shopping</p>
            </div>
            <div class="linkDescription">
                <div class="linkLogo">
                    <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                </div>
                <p>Create Group</p>
            </div>
            <div class="linkDescription" [routerLink]="['/main/profile']">
                <div class="linkLogo">
                    <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                </div>
                <p>Profile</p>
            </div>
        </div>
    </div>
</div>
