<div class="container-fluid" [ngStyle]="{ background: '' }" style="text-align: center;">
  <div *ngIf="!addGroupFlag && !joinGroupFlag" class="groupButtonContainer">
    <button class="btn btn-secondary" (click)="addGroupFlag = true">
      Add Group
    </button>
    <button class="btn btn-secondary" (click)="joinGroup()">
      Join Group
    </button>
  </div>
  <div *ngIf="addGroupFlag || joinGroupFlag" class="groupButtonContainer">
    <i
      class="fa fa-chevron-circle-left fa-2x"
      (click)="joinGroupFlag = false; addGroupFlag = false"
      aria-hidden="true"
    ></i>
    <h4 *ngIf="addGroupFlag">Group Name</h4>
    <div *ngIf="addGroupFlag" class="groupButtonContainer">
      <input
        #groupName
        class="form-control"
        name="groupName"
        type="text"
        placeholder="Fantastic 4"
      />
      <button class="btn btn-secondary" (click)="addGroup(groupName.value)">
        Add Group
      </button>
    </div>
  </div>
  <!-- <div class="allGroupsContainer">
    <div
      class="groupDescription"
      *ngFor="let group of groupMap | keyvalue"
      (click)="setFocusGroup(group)">
      <div class="imgBox">
        <app-profile-logo [userName]="group.value.name"></app-profile-logo>
      </div>
      <div class="content">
        <h2>{{ group.value.name | titlecase }}</h2>
        <ul>
          <li *ngFor="let user of group.value.users">
            <h4>{{ user | titlecase }}</h4>
          </li>
        </ul>
      </div>
    </div>
  </div> -->



 <!-- Join Group Modal Box -->
<div>
 <div class="backdrop" [ngStyle]="{ display: display }"></div>
  <div class="modal p-5" [ngStyle]="{ display: display }" role="dialog" tabindex="-1" style="margin: auto">
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Join Group</h4>
          <button type="button" class="close" style="width: fit-content;" data-dismiss="modal" (click)="closeGroupModal()">&times;</button>
        </div>

        <div class="modal-body">
          <div>
            <form [formGroup]="searchGroupForm">
              <input
                #groupName
                class="form-control"
                formControlName="search"
                name="groupName"
                type="text"
                placeholder="name of the existing group"
                style="margin: auto"
              />
            </form>
        </div>
        <hr>
        <div *ngIf="groupList" class="GroupNamesDiv">
          <ul *ngFor="let group of groupList" class="list-group">
            <button class="btn btn-primary" (click)="fetchUsers(group.groupId)" type="button">
              {{ group.groupName }}
            </button>

            <div class="GroupDetailsDiv" *ngIf = "expandedIndex === group.groupId">
              <ul *ngFor="let user of groupUsersList; let $index = index" class="list-group">
                <!-- <li class="list-group-item" > -->
                  <!-- <div style="float: left; ">{{user.name}}</div> -->
                  <button class="btn btn-info">{{user.name.split(' ')[0]}}</button>
                <!-- </li> -->
              </ul>
              <button class="btn btn-primary" *ngIf = "checkButton(group.groupId) == 1" disabled>Already a member</button>
              <button class="btn btn-primary" (click) = "sendRequest(group.groupName)" *ngIf = "checkButton(group.groupId) == 3">Send Request</button>
              <button class="btn btn-primary" *ngIf = "checkButton(group.groupId) == 2" disabled>Already Requested</button>

            </div>
          </ul>
        </div>
       </div>

        <div class="modal-footer">
          <button type="button" style = "width: fit-content;" class="btn btn-danger" (click)= "closeGroupModal()" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

<app-groupdashboard *ngFor="let groupDetail of userGroupList" [groupDetails]="groupDetail"></app-groupdashboard>
<!-- <app-groupdashboard [groupDetails]="userGroupList[0]"></app-groupdashboard> -->