<div class="row">
    <div class="col-md text-center">
        <br>
        <span> <p class="signintext"> Create your Account </p></span>
        <hr>
        <div class="form-group">
            <form class="form-group" [formGroup]="registerUserForm" (ngSubmit)="addUser(registerUserForm)">
                <label for="name">Name</label>
                <input name="name" class="form-control" formControlName="name" type="text" />
                <p class="help-block text-danger" *ngIf="
                    !registerUserForm.get('name').valid &&
                    registerUserForm.get('name').touched
                ">
                Please enter your name
                </p>
                <label for="quantity">Email</label>
                <input #emailValue name="email" class="form-control" formControlName="email" type="email" (blur)="logform(emailValue.value)"/>
                <span *ngIf = "!registerUserForm.get('email').valid && registerUserForm.get('email').touched">
                <p class="help-block text-danger" *ngIf="
                    registerUserForm.get('email').invalid &&
                    registerUserForm.get('email').touched
                ">
                Please enter a valid Email id 
                </p>
                <p class="help-block text-danger" *ngIf="
                    registerUserForm.get('email').errors['alreadyExists'] &&
                    registerUserForm.get('email').touched
                ">
                This email already exists
                </p>
                </span>
                <label for="price">Password</label>
                <input name="password" class="form-control" formControlName="password" type="password" />
                <p class="help-block text-danger" *ngIf="
                    !registerUserForm.get('password').valid &&
                    registerUserForm.get('password').touched
                ">
                Please enter login Password
                </p>
                <br>
                <button type="submit" class="btn btn-secondary" [disabled]="!registerUserForm.valid">Register</button>
            </form>
        </div>
    </div>
</div>